.container {
    display: flex;
    height: 600px;
    width: 1024px;
    background-color: bisque;
    border: 1px solid black;
    box-sizing: border-box;
    position: relative; 
    margin: auto; 
    margin-top: 5%; 
  }
  
  .list-pages {
    flex: 1;
    padding: 5%;
    border: 1px solid black;
  
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li a {
    text-decoration: none;
    color: inherit;
  }
  
  .list-pages li {
    transition: background-color 0.3s ease;
  }
  
  .list-pages li:hover {
    background-color: rgba(128, 128, 128, 0.5);
  }
  
  .cocktail-page {
    flex: 1;
    margin-left: 5%;
    margin-right: 40%;
    position: relative;
    position: relative;
}
  
  .thumbnail-container {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 200px;
    height: 200px;
    z-index: 1; 
  }
  
  .thumbnail-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }

 .page-404 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 24px;
    color: red;
}

@media only screen and (min-width: 600px) {
    .container {
      max-width: 600px;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .container {
    max-width: 768px;   
    font-size: small;
    
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }